@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<script src="https://apis.google.com/js/platform.js" async defer></script>

<div class="text-center">
    <h1 class="display-4">Dang.</h1>
    <p>Computers were a mistake.</p>
</div>
